<!-- The base.html file acts as the foundational layout for your Django application. 
 It includes common elements like the head, navigation bar, and optional footer that 
 are shared across multiple pages.
 -->

 <!-- This template will serve as the base for all other pages, allowing me to maintain 
  a consistent look and feel throughout my application while adhering to DRY principles. -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <img src="{% static 'images/PuppyWithToy1.png' %}" alt="The Dog Collector Logo" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/pup17silly.png' %}" />
    <title>Dog Collector</title>
    <!-- This block is used to inject custom head content such as CSS links or 
     scripts specific to a child template. -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <!-- Will add this back later when have it built out -->
      <!-- <div class="header-logo-container">
        <a href="/">
          <img src="{% static 'images/pup17silly.png' %}" alt="The Dog Collector Logo" />
        </a>
      </div> -->
      <nav>
        <ul>
          <li><a href="/dogs">All Dogs</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- This block is where the main content of each child template is defined. -->
      <!-- These use template tags to put loging & control flow into templates -->
      <!-- The block and endblock tags define areas in a template that can be overridden by child templates. -->
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>


