<!-- HOMEPAGE -->
<!-- Django Template Language (DTL): This is Django’s own templating engine, designed to be easy to use and secure. DTL is highly integrated with Django and will be our primary tool in this course. -->

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dog Collector Homepage</title>
  </head>

  <body>
    <nav>
        <a href="http://127.0.0.1:8000/">Homepage</a> |
        <a href="http://127.0.0.1:8000/about/">About</a> |
    </nav>

    <h1>Welcome to the Dog Collector Homepage!</h1>
    <h2>Check out these adorable dogs and their toys...</h2>
  </body>
  
</html>
